# Pandas Exercises

In [64]:
import pandas as pd

## Problem 1

*The file `crime_data.txt` contrains data on types of crimes commited in the US from 1960 - 2016. Complete the following problems using this data.*

Load the data into a pandas DataFrame, using the column names in the file and the column titled “Year” as the index. Make sure to skip lines that don’t contain data.

In [65]:
crime_data = pd.read_csv("crime_data.txt", index_col=0)

Insert a new column into the data frame that contains the crime rate by year (the ratio of “Total” column to the “Population” column).

In [66]:
crime_data['ratio'] = crime_data.Total.divide(crime_data.Population)

Insert a new column into the data frame that contains the crime rate by year (the ratio of “Total” column to the “Population” column).

List the 5 years with the highest crime rate in descending order.

In [67]:
crime_data.set_index("ratio", drop=False).sort_index(ascending=False).head(5)

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,ratio
ratio,,,,,,,,,,,,
0.059500,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700,0.059500
0.058978,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700,0.058978
0.058582,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800,0.058582
0.058203,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900,0.058203
0.057410,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800,0.057410

Calculate the average number of total crimes as well as burglary crimes between 1960 and
2012.

In [68]:
crime_data.Total.mean()

10638068.075471697

Find the years for which the total number of crimes was below average, but the number
of burglaries was above average.

In [71]:
crime_data[(crime_data.Total < crime_data.Total.mean()) & (crime_data.Burglary > crime_data.Burglary.mean())]

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,ratio
Year,,,,,,,,,,,,
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,0.041544
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100,0.048504

Select the Population, Violent, and Robbery columns for all years in the 1980s, and save this smaller data frame to a CSV file crime_subset.csv

In [82]:
crime_data.iloc[20:30].drop(["Total", "Property", "Murder", "Forcible-Rape", "Aggravated-assault", "Burglary", "Larcency-Theft", "Vehicle-Theft", "ratio"], axis=1).to_csv('crime_subset.csv')

## Problem 2

*The file `titanic.csv` has various features on who survived the accident.  Complete the following problems using this dataset.

Read the data into a DataFrame. Use the first row of the file as the column labels, but do not use any of the columns as the index.

Drop the columns "Sibsp", "Parch", "Cabin", "Boat", "Body", and "home.dest"

Replace null entries in the "Age" column with the average age.

Save the new DataFrame as titanic_clean.csv

How many people survived? What percentage of passengers survived?

What was the average price of a ticket? How much did the most expensive ticket cost?

How old was the oldest survivor? How young was the youngest survivor? What about
non-survivors?